<h1> Add a new Project </h1>
<!----Form for the contact part of the page-->
<div class="row gx-4 gx-lg-5 justify-content-center mb-5">
    <div class="col-lg-6">
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST" action="/submit_form">
            <!-- Name input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="name" name="name" type="text" placeholder="Enter Project name..." data-sb-validations="required" />
                <label for="name">Project name</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <!-- Email address input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="desc" name="desc" type="desc" placeholder="Describe your project" data-sb-validations="required,email" />
                <label for="desc">Email address</label>
                <div class="invalid-feedback" data-sb-feedback="desc:required">A description is required.</div>
            </div>
            <!-- Phone number input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="link" name="link" type="text" placeholder="https://" data-sb-validations="required" />
                <label for="link">Phone number</label>
                <div class="invalid-feedback" data-sb-feedback="link:required">A link number is required.</div>
            </div>
            <!-- Message input-->
            <div class="form-floating mb-3">
                <textarea class="form-control" id="image" name="image" type="image" style="height: 10rem" data-sb-validations="required"></textarea>
                <label for="image">Image</label>
                <div class="invalid-feedback" data-sb-feedback="image:required">An image is required.</div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button -->
            <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button></div>
        </form>

    </div>

</div>